body {
    background: #0f172a;
    color: white;
    font-family: Arial;
    text-align: center;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    width: 200px;
}

button {
    padding: 10px;
    background: cyan;
    border: none;
}

li {
    margin: 10px;
    cursor: pointer;
}